{{ define "main" }}
<div id=program-banner>
  <nav id=program-nav class="nav justify-content-center">
  <a class=nav-link href=#keynotes>Keynotes</a>
  <a class=nav-link href=#graduate-school>Graduate School</a>
  <a class=nav-link href=#technical-papers>Technical Papers</a>
  </nav>
</div>


<div id=simple-static>

<details>
    <summary>Add SGP events to your calendar</summary>
    <div class="content">
        <p>
        We recommend <i>subscribing</i> to our calendar using the <i>WebCal</i> URL below instead of downloading the .ics, so your calendar can automatically update when the program is changed.
        (<b>Note:</b> Depending on your calendar this may actually not work very well, so adding it to your calendar just before the conference is the safest bet).
        <br>
        <ul>
            <li><i>MacOS Calendar.app:</i> File | New Calendar Subscription</li>
            <li><i>Outlook Web:</i> Add Calendar | Subscribe from web</li>
            <li><i>Google Calendar (web):</i> Click link below, or: Other Calendars + | Import. <i>Note</i>: Do <b>not</b> use the WebCAL link with Google calendar due to bugs (you will get an outdated version)</li>
        </ul>
        </p>
        <div class=ics-subscribe-links style="display: grid; grid-template-rows: [full] auto [confonly] auto; grid-template-columns: [name] auto [links] auto; width: fit-content; column-gap: 1em; row-gap: 0.8em;">
            {{- range (slice
            (dict "short" "full" "long" "All days:")
            (dict "short" "confonly" "long" "July 1-3 only:"))
            -}}

            {{- $url := printf "/program/sgp2026-%s.ics" .short | absURL -}}
            {{- $url = printf "https://sgp26.org/program/sgp2026-%s.ics" .short |safeURL -}}
            {{- $webcalURL := printf "webcal://sgp26.org/program/sgp2026-%s.ics" .short |safeURL -}}
            <div style="grid-row: {{.short}}; grid-column: name; font-weight: bold">
                {{- .long -}}
            </div>
            <div style="grid-row: {{.short}}; grid-column: links">
                <ul style="display: flex; flex-wrap: wrap; gap: 1em; list-style: none; padding: 0; margin: 0;">
                    <li>
                        <a href="{{$webcalURL}}">WebCAL</a>
                        <button class=webcal-copy-btn onclick="navigator.clipboard.writeText(this.dataset.url);this.textContent='Copied!';setTimeout(()=>this.textContent='Copy',1500)" data-url="{{$webcalURL}}" title="Copy URL">Copy</button>
                    </li>
                    <li>
                        <a href={{- $url -}}>.ics</a>
                        <button class=ics-copy-btn onclick="navigator.clipboard.writeText(this.dataset.url);this.textContent='Copied!';setTimeout(()=>this.textContent='Copy',1500)" data-url="{{$url}}" title="Copy URL">Copy</button>
                    </li>
                    <!-- [This does not really work on the Android app :'( (Even on desktop, the polling interval is so low to make subscription useless...]
                    <li>
                        <a href="https://www.google.com/calendar/render?cid={{$webcalURL|urls.PathEscape}}">Google Calendar</a>
                    </li>
                    -->
                </ul>
            </div>
            {{- end -}}
        </div>
</details>

<h2 id=schedule>{{T "graduate_school_schedule" }}</h2>

<div id="gradschool-schedule">
{{ partial "schedule-table.html" (dict "events"
(where .Params.events "timestamp" "lt" "2026-07-01")) }}

<h2 id=conference-schedule>{{T "conference_schedule" }}</h2>
<div id="conference-schedule">
{{ partial "schedule-table.html" (dict "events"
(where .Params.events "timestamp" "ge" "2026-07-01")) }}
</div>


  <!--<p class=code-of-conduct>All are welcome at the <i>Symposium on Geometry Processing 2024</i>.<br>
  Attendees, presenters, volunteers and sponsors are subject to the <a class=line
    href=https://docs.google.com/document/d/1ywKq2UizWWmDAacSV79DbStPimQhqDiFX5mOZXlt1yI/>SGP
    2024 Code of Conduct</a>.</p> -->
  <!--<center><embed src="/images/sgp24_program.pdf" width="800px" height="1100px" /></center> -->
<!--
  <p class=code-of-conduct>Conference recordings are available here: <a class=line
    href=https://www.youtube.com/@SGP2024MIT>https://www.youtube.com/@SGP2024MIT</a></p>
  <p class=code-of-conduct>All papers accepted to SGP'24 can be found in the <a class=line
    href=https://diglib.eg.org/handle/10.2312/3607011>Proceedings in EG Digital Library</a>.</p>
-->

{{ $keynotes := where .Params.events "category" "keynote" }}
{{- if $keynotes -}}
<h2 id=keynotes>{{T "keynotes" }}</h2>
{{- range (sort $keynotes "timestamp") -}}
<div class=keynote-container id="{{ .id | default .shortTitle | default .title | urlize }}">

    {{ $speaker := (index .speakers 0) }}
    {{- if .portrait -}}
        {{ with resources.Get .portrait }}
            <img class="keynote-portrait" src="{{ .RelPermalink }}" alt="Portrait of {{ $speaker.name }}" title="{{ $speaker.name }}" />
        {{- else -}}
            {{ errorf "Unable to get page resource %q" .portrait }}
        {{end}}
    {{- end}}
    <div class=keynote-text-container>
    <h3>
      <span class=keynote-name><a href={{$speaker.url}}>{{ $speaker.name }}</a></span>
    <br>
    <span class=keynote-affiliation>{{ $speaker.affiliation}}</span>
    </h3>
    <p>
    {{- if and (.timestamp) (ne .timestamp "") -}}<a class="event-time" href="#schedule-{{ .id | default .shortTitle | default .title | urlize }}">{{ time .timestamp | time.Format "Monday, January 2, 15:04" }}</a>{{ end }}
    {{- if (not (isset . "title")) | or (eq .title "") -}}
    ({{T "stay_tuned_for_talk_information"}})
    {{- else -}}
    <h3><span class=keynote-title>{{.title}}</span></h3>
    <p>
      {{ $.Page.RenderString .abstract }}
    </p>
    {{ end }}
    </p>
    {{- if (isset . "youtube") -}}
      <iframe class=keynote-embedded-video src={{.youtube}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{end}}
    <p class=keynote-bio>
    {{- if (not (isset . "bio")) | or (eq .bio "") -}}
    {{- else -}}
      {{ $.Page.RenderString .bio }}
    {{ end }}
    </p>
    </div>
</div>
{{ end }}
{{- else}}
{{ end}}

<h2 id=graduate-school>{{T "graduate_school" }}</h2>

<div class=graduate-school-container>
{{ $courses := where .Params.events "category" "course" }}
{{- range (sort $courses "timestamp") -}}
{{- if isset . "abstract" }}
    <div id="{{ .id | default .shortTitle | default .title | urlize }}" class=graduate-school-text-container>
    <h3>
      <span class=graduate-school-title>{{ .title}}</span>
    </h3>
    {{- if (isset . "youtube") -}}
      <iframe class=embedded-video src={{.youtube}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{else}}
        {{- if .teaser -}}
            {{ $name := .name }}
            {{ with resources.Get .teaser }}
                <img class="graduate-school-teaser" src="{{ .RelPermalink }}" />
            {{- else -}}
                {{ errorf "Unable to get grad school talk teaser image: %q" .teaser }}
            {{end}}
        {{- end -}}
    {{ end }}
    {{ $len := (len .speakers ) }}
    <ul class=graduate-school-speakers>
    {{- range $index, $element := .speakers -}}
      <li>
        <a href={{.url}}>{{ .name }}</a>, {{ .affiliation }}
      </li>
    {{end }}
    </ul>
    {{- if and (.timestamp) (ne .timestamp "") -}}<a class="event-time" href="#schedule-{{ .title | urlize }}">{{ time .timestamp | time.Format "Monday, January 2, 15:04" }}</a>{{ end }}
    <p><!-- hack: empty p to ensure consistent spacing when abstracts are just a line of text or a list of paragraphics --> </p>
    {{ .abstract |markdownify }}
    </div>
{{- end -}}
{{ end }}
</div>

<h2 id=technical-papers>{{T "technical_papers" }}</h2>

<h4 style="margin-top: 2em; margin-bottom: 1.5em"><a href={{.Params.paperURL}}>Proceedings in EG Digital Library</a></h4>

<details>
    <summary>Note to authors</summary>
    <div class="content">
        If you spot any errors in the data of your paper, or would like to add a project/code URL, please open a pull request for <a href="https://github.com/SGP26/sgp26.github.io/blob/main/content/program.md?plain=1"><tt>program.md</tt></a> in our website repo.<br>
        Note that not all EG Digital Library URLs and DOI links are functional yet, this is expected.
    </div>
</details>
<!--
<h4><a href={{.Params.paperUSB}}>Virtual USB Key (1.1GB)</a></h4>
-->

{{ $sessions := where .Params.events "category" "in" (slice "session" "poster") }}
{{- range (sort $sessions "timestamp") -}}
  <h3 class=sessionName id={{ .id | default (.shortTitle | default .title | urlize) }}>{{ .title}}
      {{ if .chair }} <span class="sessionChair line">chaired by {{ .chair}}</span> {{end}}
  </h3>
    {{- if and (.timestamp) (ne .timestamp "") -}}<a class="event-time" href="#schedule-{{ .title | urlize }}">{{ time .timestamp | time.Format "Monday, January 2, 15:04" }}</a>{{ end }}
  <div class=sessionContainer>
    {{ if (isset . "youtube") }}
      <iframe class=embedded-video src={{.youtube}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{else}}
    {{ if (isset . "teaser") }}
       <img src={{ .teaser }} class=graduate-school-teaser>
    {{ end }}
    {{ end }}
  <div class=paperListContainer>
  <ul class=paperList>
  {{ range .papers}}
    <li>
      <span class=paper-title>{{ .title }}</span>
      <div class="paper-urls">
      {{ if (.digilib_url) -}}
        <a href="{{ .digilib_url}}">DigiLib</a>
      {{ end -}}
      {{ if (.doi) -}}
        <a href="{{ .doi}}">DOI</a>
      {{ end -}}
      {{ if (.pdf_url) -}}
        <a href="{{ .pdf_url}}">PDF</a>
      {{ end -}}
      {{ if (.poster_url) -}}
        <a href="{{ .poster_url}}">Poster</a>
      {{ end -}}
      {{ if (.project_url) -}}
        <a href="{{ .project_url}}">Project page</a>
      {{ end -}}
      {{ if (.code_url) -}}
        <a href="{{ .code_url}}">Code</a>
      {{ end -}}
      </div>
      {{ if (isset . "note") -}}
        <span class=paper-note>{{ .note}}</span>
      {{ end -}}
      {{ if (isset . "authors") -}}
        <div class=authorList>
        {{- .authors -}}
            {{- /*
        {{ range .authors}}
          <div class=paper-author>
            <span class=line> {{.name}} </span>
          </div>
        {{end}}
        */ -}}
        </div>
      {{- end}}
    </li>
  {{- end}}
  </ul>
  </div>
  </div>
{{end}}

{{ .Content }}
</div>
{{ end }}
