{{ define "main" }}
<div id=program-banner>
  <nav id=program-nav class="nav justify-content-center">
  <a class=nav-link href=#getting_here>Getting Here</a>
  <a class=nav-link href=#social_events>Social Events</a>
  <a class=nav-link href=#accommodation>Accommodation</a>
  <!--
  <a class=nav-link href=#local_info>Local Info</a>
  -->
  </nav>
</div>

<h2 id=venue>{{T "venue" }}</h2>
<div id=simple-static>
    <div class="text_img_right_container">
        <div class="text-part">
            <p>
            SGP 2026 will take place at the <b>University of Bern main building</b> in Bern, Switzerland. <br>
            Address: <b>Hochschulstrasse 4, 3012 Bern</b>
            <ul>
                <li><a href="https://maps.app.goo.gl/4C9jsmTM6tMcQPr56">Google Maps</a></li>
                <li><a href="https://www.openstreetmap.org/way/25335100">OpenStreetMap</a></li>
            </ul>
        </div>
        <div class="image-part">
            <figure>
                <img src="{{.Site.BaseURL}}/images/venue/unibe-main-building.jpg" alt="Photograph of main building">
                <figcaption>© University of Bern</figcaption>
            </figure>
        </div>
    </div>
    <!--
    <div class="text_img_right_container">
        <div class="image-part" style="flex: .5">
            <figure>
                <img src="{{.Site.BaseURL}}/images/venue/unibe-main-building-staircase.jpg" alt="Photograph of main building staircase">
                <figcaption>© University of Bern</figcaption>
            </figure>
        </div>
        <div class="text-part">
            test
        </div>
    </div>
    -->


    <h2 id=getting_here>{{T "getting_here" }}</h2>
    <div class="text_img_right_container">
        <div class="text-part">
            <p>
            The venue is located on top of the Bern train station.
            </p>
        </div>
    </div>

    <h2 id=social_events>{{T "social_event" }}</h2>

    <div class="text_img_bottom_container">
        <div class="text-row">
            <p>TBA</p>
        </div>
    </div>

    <h2 id=accommodation>{{T "accommodation" }}</h2>

    <div class="text_img_right_container">
        <div class="text-part">
            <p>TBA</p>
        </div>
    </div>

    <!--
        <h2 id=local_info>{{T "local_info" }}</h2>
        <div class="text_img_right_container">
        <div class="text-part">
        <p>
        </p>
        </div>
        </div>
    -->
</div>
{{ end }}
