<head>
    <meta charset="utf-8"> {{ $title := print .Site.Title " | " .Title }} {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="SGP organizers"/>
    {{ $styles := resources.Get "css/bootstrap.min.css" | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $styles.Permalink}}">
    {{ $styles := resources.Get "css/style.css" | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $styles.Permalink}}">
<style>
/* Adapted from https://github.com/talkjs/country-flag-emoji-polyfill/blob/8ad89980d0ffea4432aae16c54ce58714f13ad3b/src/index.ts */
    @font-face {
      font-family: "Twemoji Country Flags";
      unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067,
        U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
      src: url('/fonts/TwemojiCountryFlags.woff2') format('woff2');
      font-display: swap;
    }`;
</style>
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ $title }}</title>
</head>
