<div id=banner-outer>
<div id=banner-container>
        <div id="banner-text">
            <a href={{ .Site.BaseURL | relLangURL }}>
                <h1>Symposium&nbsp;on Geometry&nbsp;Processing</h1>
                <h2>July 1 – 3, 2026</h2>
                <h2>Bern, Switzerland</h2>
            </a>
        </div>
        {{ partial "picture" (dict
        "src" "assets/images/bern.jpg"
        "ctx" .
        "alt" "Photo of Bern's old town"
        "widths" (slice 400 800 1200 2000 4000)
        ) }}
</div>
</div>

<div id="nav-border" class="container">

    <nav id="nav" class="nav justify-content-center">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL | relLangURL }}">
        {{T .Name }}
        </a>
        {{ end }}
    </nav>
</div>

<!-- can include languageBanner partial here -->
