<div id=banner-outer>
<div id=banner-container>
        <div id="banner-text">
            <a href={{ .Site.BaseURL | relLangURL }}>
                <h1>Symposium&nbsp;on Geometry&nbsp;Processing</h1>
                <h2>1. – 3. July 2026</h2>
                <h2>Bern, Switzerland</h2>
            </a>
        </div>
        {{ partial "picture" (dict
        "src" "assets/images/bern.jpg"
        "ctx" .
        "alt" "Photo of Bernks old town"
        "widths" (slice 400 800 1200 2000 4000)
        ) }}
</div>
</div>

<div id="nav-border" class="container">

    <nav id="nav" class="nav justify-content-center">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL | relLangURL }}">
        {{T .Name }}
        </a>
        {{ end }}
    </nav>
</div>

<div id=languageBanner>
{{ if eq .Site.Language.LanguageName "English" }}
  {{ range .Translations }}
    {{ if eq .Language.LanguageName "Spanish" }}
      <a href="{{ .Permalink }}">Versión en español (en fase beta)</a>
    {{ else if eq .Language.LanguageName "Japanese" }}
      <a href="{{ .Permalink }}">日本語版（ベータ）</a>
    {{end}}
  {{ end}}
{{ else if eq .Site.Language.LanguageName "Spanish" }}
  {{ range .Translations }}
    {{ if eq .Language.LanguageName "English" }}
      La versión en español está en fase beta. <a href="{{ .Permalink }}">Ver web oficial (en inglés).</a>
    {{ end}}
  {{ end}}   
{{ else if eq .Site.Language.LanguageName "Japanese" }}
  {{ range .Translations }}
    {{ if eq .Language.LanguageName "English" }}
        <a href="{{ .Permalink }}">英語版に戻る.</a>
    {{ end}}
  {{ end}}   
{{ else }}
{{ end}}
</div>
