{{- /*
  Renders a CSS Grid schedule from an array of events.

  Each item may have:
    title, category (course|coffee|meal|special|welcome|session),
    timestamp (ISO 8601), duration (Go duration string, e.g. "30m"),
    id
    location
    speakers ([]{name,url,affiliation})

  Parameters:
    .  – required slice of course/session maps
*/ -}}

{{- $events := .events -}}

{{- $entries := slice -}}

{{- range $c := $events -}}
    {{- if not (.timestamp) -}}{{- errorf "%s: missing required 'timestamp' field" .title -}}{{- end -}}
    {{- if not (.duration) -}}{{- errorf "%s: missing required 'duration' field" .title -}}{{- end -}}

    {{- $ts := time .timestamp -}}
    {{- $duration := time.ParseDuration .duration -}}
    {{- $tsEnd := $ts.Add $duration -}} 

    {{- $date := $ts.Format "2006-01-02" -}}
    {{- $timeStart := $ts.Format "15:04" -}}
    {{- $timeEnd := $tsEnd.Format "15:04" -}}

    {{- $title := .shortTitle | default .title -}}
    {{- $entries = $entries | append (dict
      "item" $c
      "speakers" ($c.speakers | default (cond $c.name (slice (dict "speaker" $c.name)) false))
      "dateStr" $date
      "timestamp" $ts
      "timeStart" $timeStart
      "timeEnd" $timeEnd
      "title" $title
      "prefix" (index (dict "session" "Session" "keynote" "Keynote") .category)
      "hasAnchor" (or (eq .category "course" "session" "keynote" "poster") (.url) (.id))
      "url" (.url | default (print "#" ($c.id | default ($title | urlize))))
    ) -}}
{{- end -}}

{{- $allDates := apply $entries "index" "." "dateStr" | sort | uniq -}}
{{- $uniqueTimes := (apply $entries "index" "." "timeStart")
            | union (apply $entries "index" "." "timeEnd")
            | sort | uniq -}}
{{- $startTimes := (apply $entries "index" "." "timeStart") | sort | uniq -}}

{{- $colIdx := 2 -}} {{- /* column 1 has the times */ -}}
{{- $dateCols := dict -}}
{{- range $allDates -}}
  {{- $dateCols = merge $dateCols (dict . $colIdx) -}}
  {{- $colIdx = add $colIdx 1 -}}
{{- end -}}

{{- $entries = sort $entries "timestamp" -}}

{{/*
We hardcode this in css now:
  grid-template-rows:
    [day-headers] auto
    {{- range $uniqueTimes }}
    [time-{{ replace . ":" "" }}] 1fr 
    {{- end -}};
    */}}
<div class="schedule"
     style="

  grid-template-columns: [times] 2.5em
    {{- range $allDates }}
    [date-{{ replace . ":" "" }}] 1fr 
    {{- end -}};
     ">

  {{- /* ---- Day-header labels (top row) ---- */ -}}
  {{- range $allDates -}}
  <h3 class="day-header" style="grid-column: {{ index $dateCols . }};">
      {{ time . | time.Format "Monday" }}<br>
      {{ replace (time . | time.Format "January 2" ) " " "&nbsp;" | safeHTML}}
  </h3>
  {{- end -}}

  {{- /* ---- Time labels (first column) ---- */ -}}
  {{- range $e := $uniqueTimes -}}
        <h4 class="time-slot" style="grid-row: time-{{ replace $e ":" "" }};">{{ $e }}</h4>
  {{- end -}}

  {{- /* ---- Sessions (with inline time headings) ---- */ -}}
  {{- range $e := $entries -}}
    {{- $c := $e.item -}}
    <div
      class="schedule-entry schedule-cat-{{ $c.category }}"
      style="grid-row: time-{{ replace $e.timeStart ":" "" }} / time-{{ replace $e.timeEnd ":" "" }}; grid-column: date-{{- $e.dateStr -}};"
      {{- if $e.hasAnchor }}
      id="schedule-{{ $e.title | urlize }}"
      {{- end -}}
    >
      {{- if $e.prefix -}}
      <span class="schedule-entry-type">{{$e.prefix}}:</span><br>
      {{- end -}}
      {{- if $e.hasAnchor -}}
      <a href="{{$e.url}}">{{ $e.title | markdownify }}</a>
      {{- else -}}
        {{ $e.title | markdownify }}
      {{- end -}}
      {{- if $e.speakers -}}
        <br>
        <span class="schedule-speakers">
          {{- range $si, $s := $e.speakers -}}
            {{- if $si -}}, {{ end -}}
            {{- $s.name -}}
          {{- end -}}
        </span>
      {{- end -}}
    </div>
  {{- end -}}

</div>
