
<h2>{{T "sponsors" }}</h2>
<table class=fixed-table>
{{range .Site.Params.sponsors }}
<tr>
  {{ $scn := .id }}
<td class=sponsor-category>{{ .name}}</td>
<td>
  <ul id={{.id}}-sponsor-list>
{{range .items}}
    <li>
        {{ if ((isset . "logo")) | and (not (eq .logo "")) }}
            {{ $logo := .logo }}
            {{ $name := .name }}
            {{ $disc := .logoDisclaimer }}
            {{ with resources.Get $logo }}
                <img class="logo_{{ $scn }}" src="{{ .RelPermalink }}" alt="{{ $name }}" title="{{ $name }}" />
                {{ if ((isset . "logoDisclaimer")) | and (not (eq $disc "")) }}
                    <div class=logoDisclaimer>{{ $disc }}</div>
                {{end}}
            {{ else }}
                {{ errorf "Unable to get page resource %q" .logo }}
            {{end}}
      {{ end}}
    </li>
{{end}}
{{range .items}}
    <li>
      {{ if (not (isset . "logo")) | or (eq .logo "") }}
      {{ .name }}
      {{ end}}
    </li>
{{end}}
  </ul>
</td>
</tr>
{{end}}
</table>

<p class=single-line>
<a href="mailto:{{ .Site.Params.sponsorContact}}">{{T "contact_us" }}</a> 
if you would like to become a sponsor of SGP 2026.
</p>
